:root {
  --background: white;
  --primary: #0a303f;
  --button: #ec5b53;
  --textSecondary: rgb(75, 73, 73);
  --accent: #0082be;

  --fs-300: clamp(0.875rem, 0.55rem + 1vw, 1.125rem);
  --fs-350: clamp(1rem, 0.75rem + 1vw, 1.25rem);
  --fs-400: clamp(1rem, 1rem + 1.5vw, 1.5rem);
  --fs-450: clamp(1rem, 1rem + 1.65vw, 1.5rem);
  --fs-500: clamp(1rem, 1rem + 2vw, 2rem);
  --fs-600: clamp(1.125rem, 1rem + 3vw, 2.5rem);
  --fs-700: clamp(1.25rem, 1rem + 5vw, 3.5rem);
  --fs-xl: clamp(2.5rem, 1rem + 15vw, 6rem);
  --fw-light: 300;
  --fw-med: 400;
  --fw-semibld: 500;
  --fw-bld: 700;
  --padding-400: 12px;
  --padding-600: 32px;
  --padding-700: 48px;
  --margin-400: 16px;
  --margin-600: 32px;
  --margin-700: 48px;
  --margin-800: 80px;
  --margin-xl: clamp(6rem, 1rem + 25vw, 12rem);
  --gap-400: 16px;
  --gap-600: 32px;
  --gap-700: 48px;
  --gap-800: 64px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;

  cursor: pointer;
  object-fit: cover;
}

html {
  font-family: "Cardo", sans-serif;
  scroll-behavior: smooth;
}
body {
  color: var(--text);
  line-height: 1.6;
  font-size: var(--fs-400);
  background-color: #ffffff;
}
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}
h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bld);
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.584);
  text-align: center;
}

h2 {
  font-size: var(--fs-600);
  color: var(--text-color-accent);
  letter-spacing: 4px;
  font-weight: var(--fw-semibld);
}

h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-semibld);
}
h4 {
  font-size: var(--fs-350);
  font-weight: var(--fw-bld);
}
h5 {
  font-weight: 300;
}
p,
li,
ul,
a,
span {
  font-size: var(--fs-300);
  margin-bottom: 0;
}

.wrapper {
  width: min(100% - 32px, 1440px);
  margin-inline: auto;
}
section {
  scroll-margin-top: -45px;
}

.title__header {
  padding-bottom: var(--margin-600);
}
.header__sub {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.header__sub li {
  color: var(--textSecondary);
}
li::marker {
  color: var(--button);
}
.header__sub span {
  border-bottom: 1px solid black;
  width: 50px;
  margin-left: var(--padding-400);
}

/*================BUTTONS================= */
.btn {
  background: transparent;
  padding: var(--padding-400) var(--padding-600);
  color: white;
  border: 1px solid white;
  font-weight: var(--fw-semibld);
}
.btn:hover {
  background-color: var(--button);
  border: transparent;
  transition: ease 1000ms;
  cursor: pointer;
}

/*==================HEADER================= */

/*==================NAV================= */

nav {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-600);
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  padding: 0 var(--padding-400);
  transition: background-color 0.3s ease;
  z-index: 10;
}
.sticky-nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  max-width: 1800px;
  justify-content: space-evenly;
}
nav .logo img {
  width: 105px;
}
.nav__links {
  display: flex;
  gap: var(--gap-600);
  align-items: center;
}
.nav__links li {
  list-style: none;
}

.nav__links li a {
  color: white;
}

.nav__links a {
  position: relative;

  font-size: var(--fs-300);
  text-decoration: none;
  font-weight: var(--fw-semibld);
  transition: 0.3s ease;
  color: white;
}
.nav__links a::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: 500ms ease;
}
.nav__links a::after {
  position: absolute;
  content: "";
  inset: 0;
  top: -1px;
  width: 0;
  height: 2px;
  transition: 500ms ease;
}
.nav__links a:hover::before {
  width: 100%;
  background: var(--button);
}
.nav__links a:hover::after {
  width: 100%;
  background: var(--button);
}
.copywrite {
  text-align: center;
  margin-top: var(--margin-800);
  padding-bottom: var(--margin-600);
}

.mobile__open {
  display: none;
}
.mobile__close {
  display: none;
}
/*==================HERO================= */

.hero {
  background-image: url(./assets/hero.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.overlay {
  isolation: isolate;
  mix-blend-mode: multiply;
  background-color: rgb(122, 135, 139);
  position: absolute;
  inset: 0;
}

.title {
  text-align: center;
  color: white;
  max-width: 65ch;
  margin-inline: auto;
  font-weight: var(--fw-bld);
  z-index: 1;
}

.title > * {
  margin-top: var(--margin-400);
}
.title p {
  font-size: var(--fs-350);
  font-weight: var(--fw-light);
  text-transform: capitalize;
}

/*==================INTRO================= */

.statement {
  margin-inline: auto;
  font-size: var(--fs-350);
  max-width: 65ch;
  text-align: center;
}

.statement > * {
  margin-top: var(--margin-600);
}

/*==================SERVICES================= */
.services {
  background-color: rgb(244, 244, 244);
  padding: 125px 0 175px;
}
.services__container img {
  max-width: 325px;
  aspect-ratio: 1 / 1.5;
  width: 100%;
  filter: brightness(50%);
}
.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-400);
}

.services__card {
  display: grid;
}
.services__card > * {
  grid-column: 1 /2;
  grid-row: 1 / 2;
}

.services__card-text {
  align-content: end;
  color: white;
  font-weight: var(--fw-bld);
  padding: var(--padding-400);
  z-index: 10;
}
.services__card-text p {
  font-size: 1.25rem;
}
.services__card:first-child p,
.services__card:last-child p {
  padding-bottom: 1.8rem;
}

.services__card-text a {
  color: white;
  text-decoration: none;
}

/*==================CTA================= */

.cta {
  position: relative;
  min-height: 400px;
  overflow: hidden;
  color: white;
  text-align: center;
}

.cta__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/cta4.jpg); /* Replace with your image URL */
  background-size: cover;
  background-attachment: fixed; /* Parallax effect */
  background-position: center;
  z-index: 1;
  filter: brightness(80%);
}

.cta__content {
  position: relative;
  z-index: 2;
  padding: 150px 20px;
}

.cta h2,
.cta p {
  font-weight: var(--fw-bld);
  margin-bottom: var(--margin-400);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.701);
}

.cta__button {
  padding: var(--padding-400) var(--padding-600);
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: background-color 0.3s;
  font-weight: var(--fw-med);
  text-decoration: none;
}

.cta__button:hover {
  background-color: #d14b43;
  border: none; /* Darker shade for hover effect */
}

/*==================TESTIMONIALS================= */
.testimonial {
  padding-block: var(--padding-700);
}

.testimonial__container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  place-items: center;
}
.testimonial p {
  max-width: 50ch;
}

/*==================FOUNDER QUOTE================= */
.founder__quote {
  display: grid;
  place-items: center;
}

.founder__quote-content {
  font-size: var(--fs-600);
  font-style: italic;
  max-width: 50ch;
  padding-block: var(--padding-700);
}
.founder__quote .fa-solid:first-of-type {
  padding-right: var(--padding-400);
}
.founder__quote .fa-solid:last-of-type {
  padding-left: var(--padding-400);
}

/*==================EMAIL CONTACT================= */

.contact__footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: var(--padding-600);
  gap: var(--gap-600);
}
.contact__footer {
  display: grid;
  place-items: center;
  gap: var(--gap-400);
}
.contact__footer > * {
  color: white;
}
.contact__footer i {
  transform: scale(1.5);
}

.email__contact {
  display: grid;
  place-items: center;
  background-color: var(--primary);
  min-height: 350px;
}
.email__container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding: 130px 0 100px;
}
.email__contact input {
  min-width: 350px;
  padding-left: 6px;
}

.email__container .btn {
  background-color: var(--button);
  border: transparent;
}

.email__container .btn:hover {
  background-color: black;
  border: 1px black;
}

.email__contact input,
.email__contact .btn {
  height: 50px;
}
.line {
  width: 100%;
  border-bottom: 1px solid rgba(245, 243, 243, 0.256);
}
.socials {
  display: flex;
  gap: var(--gap-600);
  padding-bottom: var(--padding-400);
}
.socials i {
  color: white;
  font-size: 2rem;
}
.socials i:hover {
  transform: translateY(-4px);
}
.copyright {
  display: flex;
  gap: var(--gap-400);
  padding-block: var(--padding-700);
  color: white;
}

/*------------ EXPLORE SERVICES ---------------*/

.contact {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-items: space-between;
  background-color: var(--primary);
  padding: var(--padding-700) 150px;
}
.location__col {
  display: grid;
  gap: var(--gap-400);
  color: white;
  align-content: center;
}
.location__col p {
  padding-block: var(--padding-400);
  color: black;
}
.contact h3 {
  font-weight: var(--fw-bld);
  margin-block: var(--margin-400);
}
.contact__form {
  color: white;
  display: grid;
  grid-template-columns: subgrid;
}

label {
  display: block;
  font-size: var(--fs-300);
}
form {
  padding-block: var(--padding-400);
}
form button {
  margin-top: var(--margin-400);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

footer .line {
  width: 100%;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 120px;
  margin-inline: auto;
}
.footer .logo img {
  margin-inline: auto;
}
.footer p,
.footer h4 {
  color: var(--textSecondary);
  max-width: 50ch;
  padding-inline: 6px;
}

.footer__links ul {
  list-style: none;
  display: grid;
  gap: 8px;
  padding-top: var(--padding-600);
}
.footer__links a {
  text-decoration: none;
  font-size: var(--fs-300);
  color: var(--textSecondary);
}
.footer__links a:hover {
  color: #ec5b53;
}
.reach__us {
  color: white !important;
}

/*------------ SEO.HTML ---------------*/
.seo {
}

.seo .banner {
  background-image: url("./assets/banner3.jpg");
}

.seo__services-box {
  margin-inline: auto;
}

.seo__services-box ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 175px;
}

.seo__services-box img {
  max-height: 450px;
  max-width: 450px;

  border-radius: 12px;
}

.seo__services__list h2 {
  text-align: center;

  padding-bottom: var(--padding-700);
}
.seo__col li {
  max-width: 55ch;
  padding-block: 12px;
}

/*------------ WEB DEV SERVICE.HTML ---------------*/
.webdev .banner {
  background-image: url("./assets/banner2.jpg");
}
.webdev__img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  justify-content: space-between;
  gap: var(--gap-400);
}
.webdev__img img {
  border-radius: 12px;
}
.webdev__services__list ul {
  max-width: 85ch;
  margin-inline: auto;

  padding-bottom: 175px;
}
.webdev__services__list h2 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: var(--margin-600);
}
.webdev__services__list li {
  padding-block: 12px;
}
.webdev__together__quote {
  font-size: var(--fs-450);
  max-width: 60ch;
  margin-inline: auto;

  position: relative;
  padding-block: 100px;
  font-style: italic;
}
.explore__services__about .fa-quote-left {
  position: absolute;
  top: 0;
  left: -20px;
  color: rgba(0, 0, 0, 0.15);
  font-size: 7rem;
  z-index: -1;
}

/*------------ MARKETING SERVICE.HTML ---------------*/
.marketing .banner {
  background-image: url(./assets/marketing2.jpg);
  background-size: contain;
  background-position: top;
}
.marketing__services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: var(--gap-700);
  padding-block: var(--padding-700);
}
.marketing__col p {
  max-width: 50ch;
  padding-block: var(--padding-600);
}
.marketing__services-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: var(--gap-400);
}
.marketing__services-list img {
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 100vw;
}
.marketing__services-box {
  padding-bottom: 175px;
}

.marketing__services-box h2 {
  text-align: center;
}
.marketing__services-list:nth-child(even) {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text";
}

.marketing__services-list:nth-child(odd) {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text";
}

.marketing__services-list img {
  grid-area: image;
}

.marketing__col {
  grid-area: text;
}

/*------------ CRO SERVICE.HTML ---------------*/

.banner {
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.explore__services__about-title {
  position: absolute;
  inset: 0;
  top: 50%;
  transform: translateY(-20%);
  font-size: var(--fs-700);
  color: white !important;
  margin-inline: auto;
  text-align: center;
  z-index: 1;
}
.explore__services__about ul {
  list-style: none;
}
.explore__services__about li i {
  font-size: 1.5rem;
  padding-right: 8px;
}
.explore__services__about p,
.explore__services__about li {
  color: var(--textSecondary);
}
.services__about-subhead h2 {
  text-align: center;
  margin-bottom: var(--margin-600);
}
.services__about-subhead {
  padding-block: 120px;
  max-width: 60ch;
  margin-inline: auto;
}
.cro__services-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  padding-bottom: 120px;
}
.cro__services-box img {
  border-radius: 12px;
}
.cro__services-list h2 {
  text-align: center;
  text-decoration: underline;
  margin-block: var(--margin-700);
}
.cro__services-list ul > * {
  margin-bottom: var(--margin-400);
}
.together__quote {
  font-size: var(--fs-450);
  max-width: 30ch;
  position: relative;
  padding-top: var(--padding-600);
  font-style: italic;
}

/*------------ CONTACT US.HTML---------------*/
.contact__us-header {
}
.nav__sub-pages {
  display: flex;
  align-items: center;
  gap: var(--gap-600);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  list-style: none;
  margin-inline: auto;
  padding: var(--padding-400) var(--padding-700);
  
}

.nav__sub-pages a {
  color: white;
  text-decoration: none;
  font-weight: var(--fw-bld);
}
.nav__sub-pages a:hover {
  color: var(--accent);
}
.contact__us .banner {
  background-image: url(./assets/contactus4.jpg);
  background-size: cover;
  min-height: 150vh;
}
.contact__us .contact__us-form {
  margin-top: 15rem;

  max-width: 650px;
  margin-inline: auto;
  color: white;
  display: block;
  border-radius: 10px;
  background: rgba(13, 13, 13, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: var(--padding-700);
}
.contact__us-form {
  color: white;
  min-width: 375px;
  margin-inline: auto;
}
.contact__us-form form {
}

footer .location__col {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--gap-600);
}
.location__footer {
  display: grid;
  place-items: center;
  gap: var(--gap-400);
  padding-top: 100px;
}
.location__footer i {
  scale: 2;
}
.location__footer p {
  color: black;
}
.contact__us .contact__form {
  color: black;
}

/*------------ ABOUT.HTML---------------*/

.about .banner {
  background-image: url(./assets/about6.jpg);
  background-position: bottom;
  background-size: cover;
  height: 500px;
}
.about .explore__services__about-title {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.49);
}
.about .container {
  max-width: 65ch;
  margin-inline: auto;
  padding-top: var(--padding-700);
}

.about__header h1 {
  padding-bottom: var(--padding-400);
}
.about__header {
  text-align: center;
  padding-block: var(--padding-600);
}
.about__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5rem;
  padding-block: var(--padding-600);
}
.about__card h2 {
  padding-bottom: var(--padding-400);
}
.about__footer {
  display: grid;
  place-items: center;
  gap: 10px;
  font-size: 1rem;
  margin-inline: auto;
}
.about__footer > * {
  font-size: 0.75rem;
}

.contact__links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--padding-400);
}
.contact__links i {
  font-size: 1.25rem;
}

@media (max-width: 800px) {
  .email__container {
    justify-content: center;
    max-width: 90%;
  }

  .hero {
    background-attachment: scroll;
  }
  .cta__background {
    background-attachment: scroll;
  }
  .banner {
    background-attachment: scroll;
  }

  .services__card-text {
    margin-top: auto;
  }
  .services__card-text a:hover {
    color: var(--accent);
  }

  .services__card:first-child p,
  .services__card:last-child p {
    padding-bottom: 0;
  }
  .cro__services-list {
    padding-inline: var(--padding-600);
  }
  .contact {
    grid-template-columns: 1fr;
    padding-inline: var(--padding-400);
  }

  .footer {
    gap: var(--gap-700);
    padding-block: var(--padding-600);
  }

  .webdev__services__list ul {
    gap: 0;
    flex-wrap: wrap;
  }
  .seo__services-box img {
    max-height: 350px;
    max-width: 350px;
  }
  iframe {
    width: 375px;
  }
  .footer p {
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .mobile__open {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 2rem;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding-block: 15rem;
    position: fixed;
    top: 0;
    right: -200%;
    transition: 500ms ease;
  }
  .nav__links.active {
    right: 0px;
  }
  .mobile__close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  .mobile__close i {
    color: white;
  }

  nav .btn {
    display: none;
  }
  .sticky-nav {
    justify-content: space-between;
  }

  .seo__services-box ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-700);
  }

  .seo ul img:first-of-type {
    grid-row-start: 1;
  }
  .footer {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--gap-600);
  }
  iframe {
    max-width: 600px;
  }
  .webdev__img {
    grid-template-columns: 1fr;
  }
  .marketing__services-wrapper {
    grid-template-columns: 1fr;
  }

  .marketing__services-list:nth-child(even) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text";
  }

  .marketing__services-list:nth-child(odd) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
  }
}
